@CHARSET "UTF-8";
html{margin:0; padding: 0; font-weight: 100;}
body{margin:0;font-family: "Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文黑体",STHeiti,verdana,arial,"宋体",sans-serif;}
img{border:0;}
h2{font-weight: 100 !important;}
h3{font-weight: 100 !important;}
table td{padding-top: 10px;}

/* template */
.logo{display:block;}
.navBarContainer{margin-left: auto; margin-right: auto; width: 1100px;}
.logospacing{margin-top: 10px;}
.logo{width:120px; height:119px; margin-top: 10px; background-image: url("../images/logo.png"); display: block;}

.grid1{width:200px;}
.grid2{width:800px;}
.grid3{width:300px;}
.grid4{width:700px;}
.grid5{width: 650px;}

.hight1{min-height: 550px;}
.not_resize{resize: none;}

/* borders */
.border_top{border-top:1px; border-color: gray;}

/* position */
.float_left{float: left;}
.float_right{float: right;}
.text_center{text-align: center;}
.text_left{text-align: left;}

.margin_top25{margin-top: 25px;}
.margin_top50{margin-top: 50px;}
.margin_top160{margin-top: 160px;}
.margin_left25{margin-left:25px;}
.margin_left50{margin-left:50px;}
.margin_left60{margin-left:60px;}
.margin_bottom0{margin-bottom: 0px;}
.margin_auto{margin-left: auto; margin-right: auto;}
.padding_bottom10{padding-bottom: 10px;}
.padding25{padding: 25px 25px 25px 25px}

.top150{top: 150px;}

/* font & color*/
.main_color{color: #48C9B0;}
.white_bg{background-color: #FFFFFF;}
.light_greenbg{background-color: #effaf8;}
.title_text{font-size: 35px;}
.subtitle_size{font-size: 25px;}

/* overlay */
.overlay{
    position:absolute;
    width:100%;
    height:100%;
    z-index: 2000;
    background-color:rgba(22,74,64,0.5);
	left:0;
    display:block;
    position:fixed;
    top: 0px;
	/* -webkit-opacity:.9;  */
}

/*Bootstrap override*/
.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, transparent 100%) !important;
    background-repeat: repeat-x;
}

.hard_shaddow{
	-moz-box-shadow:0px 5px 10px 0 rgba(20%,20%,40%,0.5);
	-webkit-box-shadow:0px 5px 10px 0 rgba(20%,20%,40%,0.5);
	box-shadow:0px 5px 10px 0 rgba(20%,20%,40%,0.5);
}

.box_shaddow{
	-moz-box-shadow:1px 3px 7px -4px rgba(20%,20%,40%,0.3);
	-webkit-box-shadow:1px 3px 7px -4px rgba(20%,20%,40%,0.3);
	box-shadow:1px 3px 7px -4px rgba(20%,20%,40%,0.3);
}