@CHARSET "UTF-8";
html{margin:0; padding: 0;}
body{margin:0;font-family: "Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文黑体",STHeiti,verdana,arial,"宋体",sans-serif;}
img{border:0;}

/* template */
.logo{display:block;}
.navBarContainer{margin-left: auto; margin-right: auto; width: 1100px;}
.logospacing{margin-top: 10px;}
.logo{width:120px; height:119px; margin-top: 10px; background-image: url("../images/logo.png"); display: block;}

.grid1{width:200px;}
.grid2{width:800px;}

.float_left{float: left;}
.float_right{float: right;}

.margin_top50{margin-top: 50px;}
.margin_top160{margin-top: 160px;}
.margin_left25{margin-left:25px;}
.margin_left50{margin-left:50px;}

/*Bootstrap override*/
.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, transparent 100%) !important;
    background-repeat: repeat-x;
}